:root {
    --primary-color: #fa575a;
}

body {
    color: black;
    font-size: 1rem;
    text-align: justify;
    margin: 0 5px 0 0;


}

.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: rgb(70, 69, 69) solid 1px;

    
}

.navbar .logo {
    width: 250px;
    padding: 5px 0 10px 5px;   
}

.navbar .menu {
    display: none;
}


.header {
    background-image: url("/media/background_portfolio.png");
    background-size: cover;
    padding: 50px 50px 50px 50px;
}

.h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: #fa575a;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: var(--primary-color);
    margin: 20px 0 7px 0;
}

main section {
    margin: 0 5px 0 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
}

.skill-bar {
    border: rgba(70, 69, 69, 0.26) solid 1px;
    border-radius: 10px;
    background-color: aliceblue;
    height: 25px;
    width: 100%;
    margin: 5px 0 15px 0;
}

@keyframes seo {
    from {
        height: 25px;
        justify-items: center;
        border-radius: 10px;
        background-color: var(--primary-color);
        width: 0%;
    }
    to {
        background-color: var(--primary-color);
        width: 180%;        
    }
}

@keyframes html {
    0% {
        height: 25px;
        justify-items: center;
        border-radius: 10px;
        background-color: var(--primary-color);
        width: 0%;
    }
    100% {
        background-color: var(--primary-color);
        width: 120%;        
    }
}

#seo {
    animation: seo 10s;  
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

#html {
    animation: html 10s;  
}

#css {
    animation: css 10s;  
}

#python {
    animation: python 10s;  
}

#git {
    animation: git 10s;  
}

#js {
    animation: js 10s;  
}



.main-form {
    display: flex;
    flex-wrap: wrap;
}

.form-label {
    font-weight: 600;
    text-align: left;
}

.form-tag {
    margin: 4px 0 10px 0;
    width: 100%;
}

.form-tag input {
    display: flex;
    width: 100%;
    height: 25px;
    border: rgba(70, 69, 69, 0.26) solid 1px;
    background-color: rgba(240, 248, 255, 0.856);
    margin: 2px 0 5px 0;
}


.form-tag .info {
    display: flex;
    flex-wrap: wrap;
}

#message {
    width: 100%;
}

.button-submit {
    background-color: var(--primary-color);
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}


footer {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

footer h3 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}